/*********************************************************************************/
/*
font-family: 'Average', serif;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Gilda Display', serif;
font-family: 'Playfair Display', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Krona One', sans-serif;
font-family: 'Marcellus SC', serif;
*/
/********************************************************************************/
/** police **/
@font-face{
    font-family: "fzmOldTypewriter";
    src: url('http://www.fontsforweb.com/public/fonts/1383/fzmOldTypewriter.eot');
    src: local("fzm Old Typewriter"),
    url('http://www.fontsforweb.com/public/fonts/1383/fzmOldTypewriter.woff')
    format("woff"),
    url('http://www.fontsforweb.com/public/fonts/1383/fzmOldTypewriter.ttf')
    format("truetype");
}

body {
    background: url("../images/grunge_wall.png") repeat #696961;
    font-family: 'Domine', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.datejour .hidden-xs{
    display: inline !important;
}

@media (max-width: 767px) {
    .datejour .hidden-xs {
        display: none !important;
    }
}

/* ========================================================================== */
/* HEADER                                                                     */
/* ========================================================================== */

.jumbotron {
    background: url("../images/grunge_wall.png") repeat #696961;
}

.jumbotron h1,
.jumbotron p,
.jumbotron h4,
.jumbotron a {
    font-family: 'fzmOldTypewriter', sans-serif;
    text-align: center;
    color: #333;
}

.jumbotron .datejour {
    margin-top: 10px;
    margin-bottom: 0px;
}

.datesmall {
    width: 350px;
    margin: auto;
    background-color: #ffff00;
}

/* ========================================================================== */
/* MAIN                                                                       */
/* ========================================================================== */

.section {
    padding: 60px 0;
}

.section-title {
    font-family: 'fzmOldTypewriter', sans-serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.038em;
    word-spacing: 0.053em;
    line-height: 1.4;
}

.section-intro {
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    line-height: 1.5;
    padding: 20px 0;
}

.page-title {
    padding: 40px;
    font-family: 'fzmOldTypewriter', sans-serif;
    text-align: center;
    color: #333;
}

#donnees,
#side {
    padding-left: 5px;
    padding-right: 5px;
}

#donnees {

}

#side {

}

/* Chronologie -------------------------------------------------------------- */

.tag-general {
    display: block;
}

.tag {
    display: inline-block;
}

table th {
    text-align: center;
    height: 40px;
}

.chrono-title-date {
    width: 100px;
}

.chrono-title-type {
    width: 120px;
}

.chrono-title-about {
    width: 80px;
}

.chrono-date {
    padding: 8px;
    text-align: center;
}

.chrono-type {
    padding: 8px;
    text-align: center;
}

.chrono-desc {
    padding: 8px;
}

.chrono-about {
    padding: 8px;
}

#journaux img {
    margin: auto;
}

#gallerie .small,
#side .small {
    width: auto;
    max-height: 450px;
    margin: auto;
}

#side .small{
    max-width: 200px;
    height: auto;
}

#side .photo{
    width: auto;
}

.chrono .tags {
    width: 100%;
    text-align: right;
    font-size: 1em;
    line-height: 15px;
}

#journaux h4,
.chrono h4 {
    background-color: #433f39;
    font-family: fzmOldTypewriter, 'Krona One', sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: #f2ede0;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 25px;
}

#donnees .panel-body {
}

/* Aside -------------------------------------------------------------------- */

#side .contenu {
    width: 380px;
}

@media screen and (max-width: 1199px) {
    #side .contenu {
        width: 310px;
    }
}

@media screen and (max-width: 991px) {
    #side .contenu {
        width: 240px;
    }
}

.fixed {
    position: fixed;
    width: auto;
}

/* Chrono ------------------------------------------------------------------- */

.chrono a {
    color: #578d9d;
}
.chrono a:hover {
    color: #4c618a;
}
.chrono span, .chronos .panel-body span{
    cursor:pointer;
}
.chrono .source, .chronos .panel-body .source {
    display: none;
}
.chronos tr{
    padding: 3px;
    text-align: left;
}
.chronos .chronodate{
    width: 90px;
    text-align: center;
}

/* ========================================================================== */
/* FOOTER                                                                     */
/* ========================================================================== */

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}

footer a {
    padding-right: 50px;
}

/* ========================================================================== */
/* OTHER                                                                      */
/* ========================================================================== */

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}
/** Media Queries **/
/*
@media screen and (max-width: 900px) {
    .date .courtbr  {display: block;}
    .datejour  {font-size: 2em;}
    #maincontent{ width: auto; }
}

@media screen and (max-width: 850px) {
    .datejour .courtbr {display: block; }
}

@media screen and (max-width: 710px) {
    .datejour {font-size: 1.6em;}
}

@media screen and (max-width: 640px) {
    .datejour  {font-size: 1.4em;}
    .date span { display: none; }
    /* .annee span { display: none; }
    .date .court { display: inline-block;}
}*/

@media screen and (max-width: 460px) {
    .date h2 {font-size: 1.5em}
    .date a {font-size: 0.8em}
    /*#journaux .title span { display: none}*/
}

/* formulaire de contact */

.blogger-notice {
    text-align: center;
    padding: 10px;
    background: #DFF2BF;
    border: 1px solid;
    color: #4F8A10;
    margin-bottom: 10px;
}
form.blogger {
    font-size: 16px;
    width: 700px;
    margin: auto;
}
form.blogger div {
    clear: left;
    margin-bottom: 10px;
}
form.blogger label {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 100px;
    font-weight: bold;
    vertical-align: top;
    padding-top: 10px;
}
form.blogger input[type="text"],
form.blogger input[type="email"]{
    width: 500px;
    line-height: 26px;
    font-size: 20px;
    min-height: 26px;
}
form.blogger textarea {
    width: 500px;
    height: 150px;
    line-height: 26px;
    font-size: 20px;
}
form.blogger input[type="submit"] {
    margin-left: 290px;
    width: 150px;
    line-height: 26px;
    font-size: 20px;
    min-height: 26px;
}
form.blogger ul li {
    color: #ff0000;
    margin-bottom: 5px;
}
