{# src/Qd/BlogBundle/Resources/views/layout.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
{%  endblock %}

{% block header %}
    <h1>Un jour en 14</h1>
    <p>Récits de la guerre 14-18 au jour le jour</p>
{% endblock %}

{% block body %}
    <div class="page-title">
        {% block pageTitle %}{% endblock %}
    </div>
    {% block side %}{% endblock %}
    {% block content %}{% endblock %}
{% endblock %}
