{# src/Qd/BlogBundle/Resources/views/Blog/ajouter.html.twig #}

{% extends "QdBlogBundle::layout.html.twig" %}

{% block title %}
    Ajouter - {{ parent() }}
{%  endblock %}

{% block header %}
    <div id="content-header">
        <div class="date">
            <h1>Ajouter</h1>
        </div>
        <div class="frontimg">
            <img src="../img/aout14.png" title="image ou photo aout 1914"/>
        </div>
    </div>
{%  endblock %}


{% block body %}
    <h2>Ajouter un extrait de carnet - Blog 14-18</h2>
    {%  block qdblog_body %}
        <h4>Ici il y aura la liste des thèmes historiques présentés ailleurs que sur le front ouest sur le site</h4>
        <p>--------------------</p>
    {% endblock %}
{% endblock %}