{# src/Qd/BlogBundle/Resources/views/Blog/data.html.twig #}

{%  if datas is defined and datas is not null and datas|length>0 %}
    <h2>Photos issues de l'opendata, datées au {{ date|localizeddate('full', 'none') }}</h2>
        <div id="gallerie" class="panel-collapse collapse in">
            <div  class="panel-body">
                <div class="container-fluid">
                    <div class="row popup-gallery ">
                        {% for data in datas %}
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <a href="{{ data.videop }}" title="{{ data.leg }}" author="Opendata">
                                    <img class="thumbnail img-responsive small" src="{{ data.videov }}"></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endif %}